@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #676767;
  background-color: #1e1e1e;
}

.bg-card {
  background-color: #171717;
}
.sidebar-separator-top {
  border-bottom: 1px solid #2e2e2e;
}
.sidebar-separator-bottom {
  border-top: 1px solid #2e2e2e;
}

.card-stack-border {
  border-bottom: 2px solid #696969;
}
.bg-details {
  background-color: #1e1e1e;
}

.sidebar-item-selected {
  color: white;
  border-right: 2px solid white;
}
.sidebar-item {
  border-right: 2px solid transparent;
}
.sidebar-item:hover {
  color: #a1a0a0;
}

.pagination-data {
  padding: 0;
  margin: 1rem auto;
}
.pagination-data li {
  list-style: none;
}
.rc-pagination {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.rc-pagination-item,
.rc-pagination-prev,
.rc-pagination-jump-prev,
.rc-pagination-jump-next {
  margin-right: 8px;
}

.rc-pagination-total-text {
  margin-right: 12px;
  cursor: initial;
}

.rc-pagination-jump-next button:after,
.rc-pagination-jump-prev button:after {
  display: block;
  content: "•••";
}
.rc-pagination-item,
.rc-pagination-prev,
.rc-pagination-next,
.rc-pagination-total-text {
  min-width: initial;
  height: auto;
  line-height: initial;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.rc-pagination-item a,
.rc-pagination-item button,
.rc-pagination-prev a,
.rc-pagination-prev button,
.rc-pagination-next a,
.rc-pagination-next button,
.rc-pagination-total-text a,
.rc-pagination-total-text button {
  padding: 6px 8px;
  height: auto;
  min-width: 32px;
  min-height: 32px;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  color: #656f84 !important;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
}
.rc-pagination-item.rc-pagination-item-active a,
.rc-pagination-item.rc-pagination-item-active a:hover,
.rc-pagination-prev.rc-pagination-item-active a,
.rc-pagination-prev.rc-pagination-item-active a:hover,
.rc-pagination-next.rc-pagination-item-active a,
.rc-pagination-next.rc-pagination-item-active a:hover,
.rc-pagination-total-text.rc-pagination-item-active a,
.rc-pagination-total-text.rc-pagination-item-active a:hover {
  background-color: #6b8de3;
  color: #ffffff !important;
}
