* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: var(--tg-theme-secondary-bg-color); 
    color: var(--tg-theme-text-color);
  }
  
  input::placeholder {
    color: var(--tg-theme-hint-color);
  }
  
  @keyframes pulsate {
    0% {
      border: 2px solid var(--tg-theme-button-color);
    }
    20% {
      border: 2px solid #D32F2F;
    }
    100% {
      border: 2px solid var(--tg-theme-button-color);
    }
  }
  
  .pulsating-border {
    animation: pulsate 1s infinite;
  }