* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--tg-theme-text-color);
}

/* 
  background: var(--tg-theme-secondary-bg-color); 
*/

input::placeholder {
  color: var(--tg-theme-hint-color);
}

@keyframes pulsate {
  0% {
    border: 2px solid var(--tg-theme-button-color);
  }

  10% {
    border: 2px solid #D32F2F;
  }

  100% {
    border: 2px solid var(--tg-theme-button-color);
  }
}

.pulsate-border {
  animation: pulsate 1s infinite;
}